/* Frontend/cSS/assignment.css */

.assignment-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .assignment-card {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  h2 {
    color: #333;
  }

  form{
    margin: auto;
    text-align: start;
    position:relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  input {
    border-radius: 5px;
    width: 100%;
    padding: px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #0c356a;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0174be;
  }
  