/* Frontend/cSS/lecture.css */

.lecture-container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .lecture-card {
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .lecture-list {
    margin-top: 20px;
  }
  
  .lecture-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  