/* Frontend/cSS/notice.css */

.notice-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .notice-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
    width: 50vw;
    text-align: center;
  }

  .notice-list{
    width: 50vw;
  }

  .notice-item {
    border-radius: 10px;
    /* border: 1px solid #ddd; */
    padding: 10px;
    margin-bottom: 10px;
  }

  .notice-item:nth-child(even) {
    background-color: #efefef;
  }
  
  .notice-item:nth-child(odd) {
    background-color: #0c356a;
    color: rgb(255, 255, 255);
  }
  
  h2 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    margin-top: 10px;
    background-color: #0c356a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0174be;
  }
  